.idea
frontend/elm-stuff
frontend/node_modules
backend/out
backend/.gradle/
backend/src/main/resources/static/
backend/build/
frontend/dist/
featuretest/.gradle/
featuretest/out
featuretest/target
.gradle
featuretest/build/
dist/
misc/misc.iml
featuretest/gradle/
featuretest/gradlew
featuretest/gradlew.bat
featuretest/snapshots/
