@import 'constants';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$mono-font-family: "Roboto Mono", "Courier New";

html {
  font-size: $base-font-size;
}