@import 'constants';

.form {
  > * {
    margin-bottom: 0.5 * $standard-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    display: block;
    width: 100%;
    color: #666;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: $radius;

    height: auto;
    //box-sizing: border-box;
    padding: 0.75 * $standard-spacing;
    line-height: 1.25 * $standard-spacing;
    font-size: 1.25 * $base-font-size;
  }

  .button-primary, .button-secondary {
    cursor: pointer;

    margin-right: 0.5 * $standard-spacing;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border-radius: $radius;
    padding: 0.75 * $standard-spacing $standard-spacing;
    font-size: $base-font-size;
    line-height: 1.25;

    font-size: 1.25 * $standard-spacing;
    line-height: 1.25 * $standard-spacing;

    &:disabled {
      cursor: inherit;
    }
  }

  .button-primary {
    border: 1px solid $primary-color;
    color: $white;
    background-color: $primary-color;

    &:disabled {
      background-color: lighten($primary-color, 33);
      border-color: lighten($primary-color, 33);
    }
  }

  .button-secondary {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background-color: $white;

    &:disabled {
      background-color: lighten($secondary-color, 33);
      border-color: lighten($secondary-color, 33);
    }
  }
}